.row{
    margin-top: 10px;
}
.btn{
    background-color: white;
    border: 2px solid rgb(207, 64, 181);
    box-shadow: 5px 5px rgb(194, 187, 192);
}

.btn:active{
    background-color: rgb(255, 80, 147);;
}
.dropdown-menu{
--bs-dropdown-link-hover-bg: rgb(255, 80, 147);
}
